.bigRedFont {
  color: #ff0000;
  font-size: 60px;
}

.blueFont {
  color: #0000ff;
}

.mainNav {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #3c586f;
}

.mainNav ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.mainNav ul li a {
  text-decoration: none;
  color: #e6e7e9;
  font-size: 20px;
  font-weight: bold;
}

.list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
